<?xml version="1.0" encoding="utf-8" ?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="org.jboss.aerogear.cordova.oauth2" version="0.0.1">

  <name>OAuth2</name>

  <engines>
    <engine name="cordova" version=">=3.4.0" />
  </engines>

  <js-module src="www/oauth2.js" name="oauth2">
    <clobbers target="oauth2" />
  </js-module>
  <js-module src="www/q.js" name="q">
    <clobbers target="q" />
  </js-module>
  <js-module src="www/aerogear.ajax.js" name="ajax">
    <clobbers target="ajax" />
  </js-module>
  
  <dependency id="org.apache.cordova.inappbrowser"/>
</plugin>